html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ropa Sans', sans-serif;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden; }

canvas {
  width: 100%;
  height: 100%; }

h1 {
  padding: 0;
  margin: 0;
  color: inherit; }

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  background: #fc00ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6000de, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

a {
  color: #fff;
  text-decoration: none; }

.credits {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 1; }

.removeLoader {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transition: -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
